// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #B26F95
$secondary = #00A54F
$accent    = #ea6f12

$positive  = #0DA9A4
$negative  = #D9534F
$info      = #00A7F7
$warning   = #FDB860

@import '~quasar-variables-styl'
