// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #B26F95
$secondary = #8A5975
$accent    = #ea6f12

$positive  = $green
$negative  = #D9534F
$info      = #00A7F7
$warning   = #FDB860

@import '~quasar-variables-styl'
